body {
  height: 100vh;
  background-color: white;
}

/** Navbar */
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

/** DataTable */
.table-header:hover svg {
  opacity: 1;
}
